@font-face {
	font-family: 'issue-handshake-icomoon';
	src:url('issue-handshake-icomoon.eot?-mxqkdc');
	src:url('issue-handshake-icomoon.eot?#iefix-mxqkdc') format('embedded-opentype'),
		url('issue-handshake-icomoon.ttf?-mxqkdc') format('truetype'),
		url('issue-handshake-icomoon.woff?-mxqkdc') format('woff'),
		url('issue-handshake-icomoon.svg?-mxqkdc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'issue-handshake-icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-resourcedevelopment_icon .path1:before {
	content: "\e700";
	color: rgb(0,68,106);
}
.icon-resourcedevelopment_icon .path2:before {
	content: "\e601";
	margin-left: -1.044921875em;
	color: rgb(255,255,255);
}
