.position,.Feedback,.Name
{
	font-family: abel-n4, sans-serif;
}

.quote---text,.Paragraph-Style,.Photo-Head-captions,.MAIN-PAGE-HEADERS,.Paragraph-Style-3,.Body-Text
{
	font-family: open-sans-n3, sans-serif;
}

.Menu-Bar-text
{
	font-family: open-sans-n4, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u2275-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2281-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2361-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2287-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2303-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2307-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2294-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2315-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1270-4,#u1271-4,#u1272-4,#u1273-4,#u1274-14,#u1277-11,#u1275-9,#u1276-9
{
	font-family: open-sans-n3, sans-serif;
}

#u3220-3,#u3220-4,#u3220-5,#u3220-6,#u3220-7,#u3220-8,#u3220-9,#u3220-10,#u4396-6,#u4396-7,#u4396-8,#u4396-9,#u4396-10,#u4408-4,#u4408-5,#u4408-6,#u4408-7,#u4408-8,#u4416-4,#u4416-5,#u4416-6,#u4416-7,#u4416-8,#u4416-12,#u4416-14,#u4508-3,#u4508-4,#u4508-5,#u4508-6,#u4508-7,#u4508-8,#u4508-9,#u4508-10,#u4508-12,#u4508-16,#u4518-3,#u4518-4,#u4518-5,#u4518-6,#u4518-7,#u4518-8,#u4518-12,#u4529-3,#u4529-4,#u4529-5,#u4529-6,#u4529-7,#u4529-8,#u4537-3,#u4537-4,#u4537-5,#u4537-6,#u4537-7,#u4537-8,#u4537-9
{
	font-family: open-sans-n4, sans-serif;
}

#u3220-2,#u3220-11,#u3220-13,#u3220-15,#u3220-17,#u4396-2,#u4396-4,#u4396-5,#u4396-12,#u4396-13,#u4396-15,#u4408-2,#u4408-3,#u4408-10,#u4408-11,#u4408-12,#u4408-13,#u4408-15,#u4416-2,#u4416-3,#u4416-10,#u4416-11,#u4508-2,#u4508-11,#u4518-2,#u4518-9,#u4518-10,#u4518-11,#u4518-13,#u4529-2,#u4529-9,#u4529-10,#u4529-12,#u4529-14,#u4537-2,#u4537-10,#u4537-11,#u4537-12,#u4537-13,#u4537-15
{
	font-family: open-sans-n3, sans-serif;
}

