.position,.Feedback,.Name
{
	font-family: abel-n4, sans-serif;
}

.quote---text,.Paragraph-Style,.Photo-Head-captions,.MAIN-PAGE-HEADERS,.Paragraph-Style-3,.Body-Text
{
	font-family: open-sans-n3, sans-serif;
}

.Menu-Bar-text
{
	font-family: open-sans-n4, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u2275-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2281-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2361-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2287-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2303-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2307-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2294-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2315-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1270-4,#u1271-4,#u1272-4,#u1273-4,#u1274-14,#u1277-11,#u1275-9,#u1276-9
{
	font-family: open-sans-n3, sans-serif;
}

#u5470-4
{
	font-family: open-sans-n3, sans-serif;
}

