#u4458
{
	overflow: hidden;
	position: relative;
}

#u4555,#u4550,#u4545,#u4348
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
}

#u3314
{
	-pie-box-shadow: none;
	box-shadow: 3px 0px 7px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u4560,#u3325
{
	position: relative;
}

#menuu2268
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: fixed;
}

#u2269,#u2272
{
	background-color: transparent;
	position: relative;
}

#u2272:hover
{
	background-color: transparent;
}

#u2275-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2272:hover #u2275-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2276,#u2279
{
	background-color: transparent;
	position: relative;
}

#u2272.MuseMenuActive,#u2279:hover
{
	background-color: transparent;
}

#u2281-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2279:hover #u2281-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2357,#u2358
{
	background-color: transparent;
	position: relative;
}

#u2279.MuseMenuActive,#u2358:hover
{
	background-color: transparent;
}

#u2358.MuseMenuActive
{
	background-color: transparent;
}

#u2361-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2358:hover #u2361-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2272.MuseMenuActive #u2275-4 p,#u2279.MuseMenuActive #u2281-4 p,#u2358.MuseMenuActive #u2361-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2327
{
	background-color: #7F7F7F;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u4171,#u2329,#u2330,#u2331,#u2332
{
	background-color: #7F7F7F;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	position: relative;
}

#menuu2283
{
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
}

#u2284,#u2285
{
	background-color: transparent;
	position: relative;
}

#u2287-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2285:hover #u2287-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2285:active #u2287-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u2298,#u2301
{
	background-color: transparent;
	position: relative;
}

#u2303-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2301:hover #u2303-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2285.MuseMenuActive #u2287-4 p,#u2301:active #u2303-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u2305,#u2306
{
	background-color: transparent;
	position: relative;
}

#u2307-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2306:hover #u2307-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2301.MuseMenuActive #u2303-4 p,#u2306:active #u2307-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u2291,#u2292
{
	background-color: transparent;
	position: relative;
}

#u2294-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2292:hover #u2294-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2306.MuseMenuActive #u2307-4 p,#u2292:active #u2294-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u2312,#u2313
{
	background-color: transparent;
	position: relative;
}

#u2315-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2313:hover #u2315-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

#u2292.MuseMenuActive #u2294-4 p,#u2313:active #u2315-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u2313.MuseMenuActive #u2315-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u2328
{
	-pie-box-shadow: none;
	box-shadow: 1px 1px 4px #000000;
	background-color: #7F7F7F;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u1269
{
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u1270-4,#u1271-4,#u1272-4,#u1273-4
{
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1274-14
{
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 13px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1274-2,#u1274-4,#u1274-6
{
	line-height: 29px;
}

#u1274-8,#u1274-10,#u1274-12
{
	line-height: 21px;
}

#u1277-11,#u1275-9,#u1276-9
{
	border-color: #7F7F7F;
	background-color: transparent;
	line-height: 29px;
	font-size: 13px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1278,#u1280,#u1282
{
	border-color: #7F7F7F;
	background-color: transparent;
	position: fixed;
}

